<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.title }}</strong> <span>{{ site.subtitle }}</span></a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="index.html">Page d'accueil</a></li>
		<li><a href="resultats.html">Résultats</a></li>
		<li><a href="nfc-trace.html">NFC-Trace</a></li>
		<li><a href="trace-connect.html">Trace Connect</a></li>
		<li><a href="smart-traceability.html">Smart Traceability</a></li>
		<li><a href="memoire-recherche.html">Mémoire de recherche</a></li>
		
	</ul>
</nav>
